/* ===============================
   FILTER PANEL CONTAINER
================================ */
.filter-panel {
    position: fixed;
    top: 120px;            /* navbar / hero keezha */
    right: 20px;          /* right end */
  
    width: 320px;
    z-index: 1000;
  
    display: flex;
    flex-direction: column;
    gap: 14px;
  
    padding: 18px 20px;
  
    background: #ffffff;
    border-radius: 14px;
    box-shadow: 0 20px 45px rgba(0, 0, 0, 0.15);
  
    animation: filterDrop 0.4s ease forwards;
  }
  
  /* ===============================
     INPUTS
  ================================ */
  .filter-panel select,
  .filter-panel input {
    padding: 12px 14px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    outline: none;
    transition: border 0.2s ease, box-shadow 0.2s ease;
  }
  
  .filter-panel select:focus,
  .filter-panel input:focus {
    border-color: #bdbbd2;
    box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
  }
  
  /* ===============================
     OPEN ANIMATION
  ================================ */
  @keyframes filterDrop {
    from {
      opacity: 0;
      transform: translateY(-20px) scale(0.95);
    }
    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
  
  /* ===============================
     FILTER BUTTON (TOP BAR)
  ================================ */
  .filter-toggle-btn {
    position: absolute;
    top: 70px;
    right: 20px;
  
    padding: 10px 18px;
    border-radius: 999px;
    border: none;
    cursor: pointer;
  
    font-size: 14px;
    font-weight: 500;
  
    background: linear-gradient(135deg, #fbcfcf);
    color: rgb(85, 83, 83);
  
    box-shadow: 5px rgb(194, 137, 194,0.9);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .filter-toggle-btn:hover {
    transform: translateY(-2px);
  }
  
  
  .filter-toggle-btn:active {
    transform: scale(0.95);
  }
  .back-btn {
    margin: 12px 0 16px;
    background: transparent;
    border: 1px solid #ddd;
    padding: 8px 14px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    color: #333;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    transition: all 0.2s ease;
  }
  
  .back-btn:hover {
    background: #f3f3f3;
    border-color: #ccc;
  }
  
  .back-btn:active {
    transform: scale(0.97);
  }
  